<form class="grid grid-cols-2 grid-rows-3 gap-4">
    <div class="flex flex-col gap-2 row-span-1">
      <label for="name" class="text-amber-300 font-bold">Name</label>
      <input id="name" type="text" placeholder="Your name" class="rounded text-neutral-950">
    </div>
    <div class="flex flex-col gap-2 row-span-1">
        <label for="email" class="text-amber-300 font-bold">Email</label>
        <input id="email" type="email" placeholder="Your email" class="rounded text-neutral-950">
      </div>
      <div class="flex flex-col gap-2 row-span-2 col-span-2">
        <label for="message" class="text-amber-300 font-bold">Message</label>
        <textarea id="message" class="h-full rounded text-neutral-950"></textarea>
      </div>
      <button type="button" class="py-2 px-4 bg-emerald-500 w-full col-span-2 row-span-1 rounded hover:bg-emerald-600 font-bold">SEND MESSAGE</button>
  </form>